.contendormenu {
  border: 1px;
  border-color: grey 1px solid;
  display: flex;
  flex-direction: column;
}
body {
  background-color: white;
}

.card-img-top {
  width: 100%;
  height: 19rem;
  object-fit: cover;
}

.vertical {
  width: 19rem;
  box-shadow: 7px 7px 20px 0px rgba(204,204,204,1);
}

.horizontal {
  width: 80rem;
  height: 20rem;
  box-shadow: 7px 7px 20px 0px rgba(204,204,204,1);
}


