.contendormenu {
  border: 1px;
  border-color: grey 1px solid;
  display: flex;
  flex-direction: column;
}
body {
  background-color: white;
}

.card-img-top {
  width: 19rem;
  height: 19rem;
  object-fit: cover;
}

.card {
  width: 19rem;
  box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
}
